@model MyLittleUrlApp.Models.LittleUrl


@{
    ViewData["Title"] = "My Little Url";
}

<h1>@ViewData["Title"]</h1>
<hr />

@using (Html.BeginForm("Create", "LittleUrl", FormMethod.Post, new { id = "urlForm" }))
{
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-barcode" title="Clear form" style="cursor:pointer" onclick="ClearForm()"></i>
            </span>
            <input asp-for="LongUrl" id="urlToEncode" class="form-control input-lg" name="urlToEncode"
                   placeholder="Encode your URL here" required />
            @*<span asp-validation-for="LongUrl" class="text-danger"></span>*@
        </div>
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-5">
                <button class="btn btn-default">Encode</button>
            </div>
        </div>
    </div>
}

@if (Model != null)
{
    <div class="well well-lg">
        <h2>Your Little Url is:</h2>
        <div class="input-group">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-link" title="Click to copy" style="cursor:pointer" onclick="Copy('urlToDecode')"></i>
            </span>
            @{
                string sFullUrl = String.Concat(Model.BaseAddressPrefix, Model.ShortUrl);
            }
            <input readonly id="urlToDecode" class="form-control input-lg" name="urlToDecode" style="background-color:ghostwhite"
                   value=@Html.DisplayFor(item => sFullUrl) />
        </div>
        <div id="copyMessage" hidden class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> Link copied to clipboard.
        </div>

    </div>
}

